# Dependencies
node_modules/
.pnp
.pnp.js

# Testing and Coverage
coverage/

# Production Build Output (optional: keep dist if deploying static from git)
# dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.log

# Editor & OS files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Thumbs.db
